body{
background-color: #101010;
}
h1{
font-size: 6vmin;
color: rgb(255, 255, 160);
position: absolute;
top: 2vmin;
margin-top: 0;
left: 4vmin;
}
vl,vl2,vl3,vl4{
border-left-style: solid;
border-left-width: 45vmin;
height: 1vmin;
position: absolute;
border-color: #DEDEDE;
}
vl5,vl6,vl7,vl8{
border-left-style: solid;
border-left-width: 1vmin;
height: 45vmin;
position: absolute;
border-color: #DEDEDE;
}
vl{
left: 0%;
top: 15vmin;
}
vl2{
left: 0%;
top: 30vmin;
}
vl3{
left: 0%;
top: 45vmin;
}
vl4{
left: 0%;
top: 60vmin;
}
vl5{
left: 0%;
top: 15vmin;
}
vl6{
left: 15vmin;
top: 15vmin;
}
vl7{
left: 30vmin;
top: 15vmin;
}
vl8{
left: 44vmin;
top: 15vmin;
}
.ta{
resize:none;
height: 6.5vmin;
position: absolute;
font-size: 4.5vmin;
width: 60vmin;
background-color: #141430;
border-width: 0;
padding-top: .5vmin;
border-radius: 0.8vmin;
color: #FFFFFF;
}
.ta:hover{
border-width: 0.1vmin;
border-color: #FFFFFF;
}
.ta:focus{
outline: none;
background-color: #252545;
}
#NAM{
top: 2vmin;
left: 25vmin;
}
.XO{
height: 13vmin;
width: 13vmin;
background-image: radial-gradient(#101010, #161616, #232323);
border-style: hidden;
position: absolute;
font-size: 16vmin;
line-height: 50%;
opacity: 0%;
padding-top: 1vmin;
}
.XO:hover{
  opacity: 20%;
}
.XO2{
  height: 13vmin;
  width: 13vmin;
  background-image: radial-gradient(#101010, #161616, #232323);
  border-style: hidden;
  position: absolute;
  font-size: 16vmin;
  line-height: 50%;
  opacity: 100%;
}
#F1{
top: 16.5vmin;
left: 1.5vmin;
}
#F2{
top: 16.5vmin;
left: 16.5vmin;
}
#F3{
top: 16.5vmin;
left: 30.9vmin;
}
#F4{
top: 31.5vmin;
left: 1.4vmin;
}
#F5{
top: 31.5vmin;
left: 16.4vmin;
}
#F6{
top: 31.5vmin;
left: 30.9vmin;
}
#F7{
top: 46.4vmin;
left: 1.4vmin;
}
#F8{
top: 46.4vmin;
left: 16.4vmin;
}
#F9{
top: 46.4vmin;
left: 30.9vmin;
}
#que{
border-width: 2px;
border-style: solid;
color: #FFFFFF;
background-image:radial-gradient(#101020,#202040);
width: 30vmin;
height: 12vmin;
font-size: 4.5vmin;
position: absolute;
top: 70vmin;
display: none;
border-color: #000000;
animation-name: animate;
animation-duration: 4s;
animation-fill-mode: forwards;
animation-iteration-count: infinite;
}
@keyframes animate{
0% {border-color: #000000;}
50% {border-color: #f7ce16;}
100% {border-color: #000000;}
}
#que:hover{
border-width: 2px;
}
.status{
position: absolute;
font-size: 4vw;
left: 0vmin;
text-align: center;
color: rgb(255, 255, 160);
}
#status{
top: 65vmin;
color: rgb(255, 255, 160);
}
#status2{
top: 75vmin;
color: rgb(255, 255, 160);
}
#status3{
top: 85vmin;
color: rgb(255, 255, 160);
}
#pass{
top: 90vmin;
left: 28vmin;
display: none;
}
#PassName{
top: 90vmin;
position: absolute;
font-size: 6vmin;
display: none;
color: rgb(255, 255, 160);
}
